services:
  db:
    image: postgres:15
    container_name: spy_cat_db
    env_file:
          - .env
    ports:
      - "5433:5432"  
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    container_name: spy_cat_app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    env_file:
          - .env 
    depends_on:
          db:
            condition: service_healthy
    volumes:
      - .:/app  

volumes:
  postgres_data: